MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=futfem
MYSQL_USER=futfem
MYSQL_PASSWORD=futfem
FRONTEND_ASSETS_HOST_PATH=/home/japerez/docker_volumes/frontend_assets/images

EUREKA_IMAGE=tikitakas/eureka:v0.1.0
ZUUL_IMAGE=tikitakas/zuul:v0.1.0
COMPETITIONS_IMAGE=tikitakas/competitions:v0.1.0
COMPETITIONS_TEMP_IMAGE=tikitakas/microservicios-futfem-competitions-temp:v0.1.0
PLAYERS_IMAGE=tikitakas/microservicios-futfem-players:v0.1.0
PLAYERS_TEMP_IMAGE=tikitakas/microservicios-futfem-players-temp:v0.1.0
TEAMS_IMAGE=tikitakas/microservicios-futfem-teams:v0.1.0
TEAMS_TEMP_IMAGE=tikitakas/microservicios-futfem-teams-temp:v0.1.0
POSITIONS_IMAGE=tikitakas/microservicios-futfem-positions:v0.1.0
REFEREES_IMAGE=tikitakas/microservicios-futfem-referees:v0.1.0
REFEREES_TEMP_IMAGE=tikitakas/microservicios-futfem-referees-temp:v0.1.0
SQUADS_IMAGE=tikitakas/microservicios-futfem-squads:v0.1.0
SQUADS_TEMP_IMAGE=tikitakas/microservicios-futfem-squads-temp:v0.1.0
MATCHDAYPLAYERSLOCAL_IMAGE=tikitakas/microservicios-futfem-matchdayplayerslocal:v0.1.0
MATCHDAYPLAYERSVISITANTE_IMAGE=tikitakas/microservicios-futfem-matchdayplayersvisitante:v0.1.0
MATCHDAYTEAMLOCAL_IMAGE=tikitakas/microservicios-futfem-matchdayteamlocal:v0.1.0
MATCHDAYTEAMVISITANTE_IMAGE=tikitakas/microservicios-futfem-matchdayteamvisitante:v0.1.0
FRONTEND_IMAGE=tikitakas/frontend:v0.1.0
