MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=futfem
MYSQL_USER=futfem
MYSQL_PASSWORD=futfem

EUREKA_IMAGE=tikitakas/eureka:v0.1.0
ZUUL_IMAGE=tikitakas/zuul:v0.1.0
COMPETITIONS_IMAGE=tikitakas/competitions:v0.1.0
FRONTEND_IMAGE=tikitakas/frontend:v0.1.0
